body{
    background-color: darkslateblue;
}

.projectDiv{
    border-style: double;
    border-color: darkslateblue;
}

.contact-info{
    text-align: center;
}

.navbar{
    background-color: darkslateblue;
 
}

.card-title{
    color:blueviolet
}

.link{
    color:blueviolet

}