body{
    background-color: darkslateblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

html{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.app{
    border: double darkslateblue;
}

.grey{
    background-color: lightgray;
    border: double darkslateblue
}

.white{
    background-color: white;
    border-style: double;
    border-color: darkslateblue;
    padding: 10px;
}

.projectDiv{
    border-style: double;
    border-color: darkslateblue;
}

.contact-info{
    text-align: center;
}

.navbar{
    background-color: darkslateblue;
 
}

.card-title{
    color:blueviolet
}

.link{
    color:blueviolet

}


